.formacion-container {
    background-color: #d8e8ff;
    padding: 82px;
}

.titulo-formacion {
    text-align: center;
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.lista-formacion {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.items-formacion {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.div-formacion {
    background-color: #FFFFFF;
    width: 330px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-formacion {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    color: #464646;
}

.fecha-formacion {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

@media screen and (max-width: 600px) {
    .formacion-container {
        padding: 32px;
    }

    .titulo-formacion {
        font-size: 22px;
    }

    .lista-formacion {
        flex-wrap: wrap;
    }

    .div-formacion {
        width: 290px;
        height: 170px;
    }

    .texto-formacion {
        font-size: 16px;
    }

    .fecha-formacion {
        font-size: 14px;
    }
}