.hobbies-container {
    background: #F6F6F6;
    padding: 1rem 7rem;
}

.titulo-hobbies {
    text-align: center;
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.lista-hobbies {
    display: flex;
    justify-content: space-between;
}

.items-hobbies {
    list-style: none;
    background: #FFFFFF;
    padding: 16px;
    width: 150px;
    height: 130px;
}

.items-hobbies p {
    font-family: 'Raleway';
    font-size: 16px;
    color: #464646;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .hobbies-container {
        padding: 1rem;
    }

    .titulo-hobbies {
        font-size: 22px;
    }

    .lista-hobbies {
        flex-wrap: wrap;
        gap: 32px;
    }

    .items-hobbies {
        width: 110px;
        height: 90px;
    }
}