.hobbies-container {
    background: #F6F6F6;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: .5rem;
    margin-bottom: 88px;
}

.titulo-hobbies {
    text-align: center;
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.lista-hobbies {
    display: flex;
    justify-content: space-between;
    
}

.items-hobbies {
    list-style: none;
    background: #FFFFFF;
    padding: 16px;
    width: 150px;
    height: 130px;
}

.items-hobbies p {
    font-family: 'Raleway';
    font-size: 16px;
    color: #464646;
    font-weight: 700;
}