.proyectos-container {
    padding-left: 82px;
    padding-right: 82px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.h2-proyectos {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.div-proyecto {
    width: 930px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.div-proyecto_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-proyecto {
    color: #464646;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
}

.div-proyecto_texto p {
    color: #464646;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
}

.boton-proyecto {
    border: 1px solid #2A7AE4;
    width: 140px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}

.img-proyecto {
    height: 400px;
}

.boton-proyecto:hover {
    cursor: pointer;
    background-color: #e8f1fd;
}

@media screen and (max-width: 600px) {
    .proyectos-container {
        padding: 1rem;
        gap: 32px;
    }

    .h2-proyectos {
        font-size: 22px;
    }

    .div-proyecto {
        width: 300px;
        display: block;
        gap: 0;
    }

    #div-org {
        display: flex;
        flex-direction: column-reverse;
    }

    .titulo-proyecto {
        font-size: 16px;
    }

    .div-proyecto_texto p {
        font-size: 14px;
    }

    .boton-proyecto {
        width: 116px;
        font-size: 14px;
        padding: 8px;
    }

    #btn-proyecto-react {
        margin-bottom: 16px;
    }

    .img-proyecto {
        width: 300px;
        height: 140px;
    }
}