.skills-container {
    background: #F6F6F6;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: .5rem;
    margin-bottom: 88px;
}

.titulo-skills {
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #464646;
    text-align: center;
}

.lista-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.items-skills {
    list-style: none;
    background-color: #FFFFFF;
    padding: 16px;
    width: 150px;
    height: 130px;
}

.items-skills p {
    font-family: 'Raleway';
    font-size: 16px;
    color: #464646;
    font-weight: 700;
}