.skills-container {
    background: #F6F6F6;
    padding: 1rem 7rem;
}

.titulo-skills {
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #464646;
    text-align: center;
}

.lista-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
}

.items-skills {
    list-style: none;
    background-color: #FFFFFF;
    padding: 16px;
    width: 150px;
    height: 130px;
}

.items-skills p {
    font-family: 'Raleway';
    font-size: 16px;
    color: #464646;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .skills-container {
        padding: 1rem;
    }

    .titulo-skills {
        font-size: 22px;
    }

    .lista-skills {
        gap: 32px;
    }

    .items-skills {
        width: 110px;
        height: 90px;
    }
}