.sobre-mi_container {
    background: #d8e8ff;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
}

.titulo-sobre-mi {
    margin-top: 2rem;
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #464646;
}

.texto-sobre-mi {
    width: 750px;
    text-align: justify;
    font-size: 16px;
    font-family: 'Raleway';
    color: #464646;
}

.firma-sobre-mi {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .sobre-mi_container {
        padding: 1rem;
    }

    .titulo-sobre-mi {
        font-size: 22px;
    }

    .texto-sobre-mi {
        font-size: 14px;
        width: auto;
    }
}